@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div>
    <form asp-action="Login" method="post">
        ユーザー名: <input asp-for="UserId" /><br />
        パスワード: <input asp-for="Password" /><br />
        <button type="submit">ログイン</button>
    </form>
</div>
