@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div style="margin: 0 auto; width: 360px;">
    <h1 class="f3-light text-center">サインイン</h1>
    <div asp-validation-summary="All" class="flash mt-3 flash-error"></div>
    <div class="Box mt-3">
        <div class="Box-row Box-row--gray">
            <form asp-action="Login" method="post">
                <div>
                    <label asp-for="UserId" class="mb-2 d-block">ユーザー名</label>
                    <input asp-for="UserId" class="form-control input-block mb-3" type="text" />
                </div>
                <div>
                    <label asp-for="Password" class="mb-2 d-block">パスワード</label>
                    <input asp-for="Password" class="form-control input-block mb-3" type="password" />
                </div>
                <button type="submit" name="login" class="btn btn-primary btn-block mt-5">
                    サインイン
                </button>
            </form>
        </div>
    </div>
</div>