@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div>
    <form asp-action="Login" method="post">
        <div>
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="UserId"></label>
                <div>
                    <input asp-for="UserId" />
                    <span asp-validation-for="UserId"></span>
                </div>
            </div>
            <div>
                <label asp-for="Password"></label>
                <div>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div>
                <div>
                    <button type="submit">ログイン</button>
                </div>
            </div>
        </div>
    </form>
</div>
