@model RegisterUser
@{
    ViewData["Title"] = "ユーザー登録";
}


<div style="margin: 0 auto; width: 360px;">
    <h1>ユーザー登録</h1>

    <a asp-action="Index">ユーザーリスト</a>
    <div asp-validation-summary="All" class="flash mt-3 flash-error"></div>
    <div class="Box mt-3">
        <div class="Box-row">
            <form asp-action="Create" method="post">
                <div class="form-group @(ViewData.ModelState["UserId"] != null && ViewData.ModelState["UserId"].Errors.Any() ? "errored" : "")">
                    <div class="form-group-header">
                        <label asp-for="UserId"></label>
                    </div>
                    <div class="form-group-body">
                        <input class="form-control"
                               type="text"
                               asp-for="UserId"
                               aria-describedby="username-input-validation" />
                    </div>
                </div>

                <div class="form-group @(ViewData.ModelState["Password"] != null && ViewData.ModelState["UserId"].Errors.Any() ? "errored" : "")">
                    <div class="form-group-header">
                        <label asp-for="Password"></label>
                    </div>
                    <div class="form-group-body">
                        <input class="form-control"
                               type="password"
                               asp-for="Password"
                               aria-describedby="password-input-validation" />
                    </div>
                </div>

                <div class="form-group @(ViewData.ModelState["ConfirmPassword"] != null && ViewData.ModelState["UserId"].Errors.Any() ? "errored" : "")">
                    <div class="form-group-header">
                        <label asp-for="ConfirmPassword"></label>
                    </div>
                    <div class="form-group-body">
                        <input class="form-control"
                               type="password"
                               asp-for="ConfirmPassword"
                               aria-describedby="confirm-password-input-validation" />
                    </div>
                </div>

                <button type="submit" name="create" class="btn btn-primary btn-block mt-5">
                    ユーザー登録
                </button>
            </form>
        </div>
    </div>
</div>
